@charset "ISO-8859-1";

*{
	margin: 0px;
	padding: 0px;
	font-family: 'Merriweather Sans', sans-serif;
	
}

body{
	background-color: #0063b4;
	font-size: 8px;
		
}

img{
	width: 100%;
	height: auto;
	border-radius: 20px;
	margin-top: 40px;
}


.form-box{
	width: 800px;
	height: 600px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	text-align: center;
	border-radius: 30px;
	border: none;
	font-size: 2.5em;
	box-shadow: 0px 0px 15px #414141;
}

form{
	margin-top: 0px;
	line-height: 30px;
}


input[type=text]{
	border: none;
	border-bottom: 2px solid black;
	width: 70%;
	height: 30px;
	background-color: none;
	text-align: center;
}

input[type=text]:active{
	border: 0px;
	
	color: white
	
}

input[type=submit]{
	width: 70%;
	height: 50px;
	background-color: #0063b4;
	border: none;
	border-radius: 10px;
	color: white;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1em;
}


